.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore Data
data/
Experiment 1.docx
Experiment 3.docx
schematics of arena and positions.png
schematics of arena and positions.svg
schematics of set up.svg
source/log.dat
source/suptitle.m
source/mtit.m
source/watsontest.m
source/license.txt
log.dat
source/CircStat2012a/
source/.gitignore
Thumbs.db
source/MC_nonlinearCmap.m
source/plotSpikeRaster.m
source/smooth_diff.m
source/smooth_diff_demo.m
source/smooth_diff.jpg